<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.aloogle.acasadocogumelo"
    android:versionCode="10"
    android:versionName="2.2.1">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

	<permission android:name="net.aloogle.acasadocogumelo.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />
	<uses-permission android:name="net.aloogle.acasadocogumelo.permission.C2D_MESSAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CasaDoCogumelo.Theme">
		<meta-data android:name="com.google.android.gms.version"
               android:value="@integer/google_play_services_version"/>
        <activity
            android:name=".activity.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|screenSize" />
        
        <activity
            android:name=".activity.FragmentActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.CommentActivity"
            android:configChanges="orientation|screenSize" android:windowSoftInputMode="adjustPan" />

        <activity android:name="com.google.android.gms.ads.AdActivity"
             android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

   <service android:name="com.parse.PushService" />
		<receiver android:name="com.parse.ParseBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.USER_PRESENT" />
			</intent-filter>
		</receiver>
		<receiver android:name="net.aloogle.acasadocogumelo.receiver.NotificationReceiver" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.USER_PRESENT" />
				<action android:name="net.aloogle.acasadocogumelo.UPDATE_STATUS" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.parse.GcmBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />

				<category android:name="net.aloogle.acasadocogumelo" />
			</intent-filter>
		</receiver>
		<receiver android:name=".receiver.CancelReceiver">
			<intent-filter>
				<action android:name="notification_cancelled"/>
			</intent-filter>
		</receiver>
    </application>

</manifest>
